{% extends "base.html" %}

{% block title %}Moria Visuals{% endblock %}

{% block content %}
<a href=http://127.0.0.1:8000/><p>Back</p></a>
<h1>{{ product.name }}</h1>
<h2>{{ product.price }} zł</h2>
<p>{{ product.description }}</p>
<form>
    <fieldset>
        {% for size in sizes %}
            {% if size.is_available == 1 %}
                <input type="radio" name="size" id="size{{ forloop.counter }}" value="{{ size.id }}">
                <label for="size{{ forloop.counter }}">{{ size.size }}</label><br>
            {% else %}
                {{ size.size }} - niedostępny
            {% endif %}
        {% endfor %}
    </fieldset>
    <button type="submit"><h3>Add to cart</h3></button>
</form>

{% endblock %}